doctype html
html
    head
        link(rel="stylesheet" href="/Estilos/styles.css")
        meta(charset="utf-8")
        link(rel="shortcut icon" href="/Estilos/favicon.ico" type="image/x-icon")
        title CH | Cristian Hernandez

        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet" )
        link(href="https://fonts.googleapis.com/css?family=Megrim&display=swap" rel="stylesheet" )
        link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet")
        meta(name="viewport" content="width=device-width, user-scalable=no")
    body
        block contenido